[package]
name = "demo-extension"
version = "0.0.1"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
zed_extension_api = "0.1"

[profile.release]
opt-level = "z"
lto = true
strip = true